body {
    background-image: url("images/Rennstrecke.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 900px;
    .circle {
        width: 10%;
        left: 400px;
        top: 2500px;
    }
}